<div id="home">
  <h1>Luddite Blogger</h1>
  

  <% if current_user && !current_user.blog_title? %>
   <p>To get started choose a name for your blog.</p>
   <p>(Note: You won't be able to change the title, so choose carefully...)</p>
   <%= render 'users/form' %>

  <% end %>

  <% if current_user && current_user.blog_title? %>
    <h2>
      <%= link_to "+ Add New Post +", new_post_path %>
    </h2>
  <% end %>

  <% unless @posts.blank? %>
    <% @posts.each do |post| %>
      <h2><%= link_to post.title, post %></h2>
      <!-- <p> -->
        <% time_ago_in_words post.created_at %> 
      <!-- </p> -->
      <!-- <p> -->
        <% truncate post.text %>
      <!-- </p> -->
    <% end %>
  <% end %>
</div>

