<div id="home">
  <h1>Luddite Blogger</h1>
  <img src="http://etc.usf.edu/clipart/62800/62839/62839_typewriter_lg.gif" style="height:300px; width:300px">
  <h3 style="font-style:italic">No images. No links. Just old-fashioned text.</h3>

  <% if current_user && !current_user.blog_title? %>
   <p>To get started choose a name for your blog.</p>
   <p>(Note: You won't be able to change the title, so choose carefully...)</p>
   <%= render 'users/form' %>
  <% end %>
</div>

