/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

 @font-face {
    font-family: '/assets/essays1774/essays1743bold';
    src: url('/assets/essays1774/essays1743-bold-webfont.eot');
    src: url('/assets/essays1774/essays1743-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/essays1774/essays1743-bold-webfont.woff') format('woff'),
         url('/assets/essays1774/essays1743-bold-webfont.ttf') format('truetype'),
         url('/assets/essays1774/essays1743-bold-webfont.svg#/assets/essays1774/essays1743bold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: '/assets/essays1774/essays1743italic';
    src: url('/assets/essays1774/essays1743-italic-webfont.eot');
    src: url('/assets/essays1774/essays1743-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/essays1774/essays1743-italic-webfont.woff') format('woff'),
         url('/assets/essays1774/essays1743-italic-webfont.ttf') format('truetype'),
         url('/assets/essays1774/essays1743-italic-webfont.svg#/assets/essays1774/essays1743italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: '/assets/essays1774/essays1743medium';
    src: url('/assets/essays1774/essays1743-webfont.eot');
    src: url('/assets/essays1774/essays1743-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/essays1774/essays1743-webfont.woff') format('woff'),
         url('/assets/essays1774/essays1743-webfont.ttf') format('truetype'),
         url('/assets/essays1774/essays1743-webfont.svg#/assets/essays1774/essays1743medium') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: '/assets/essays1774/essays1743bolditalic';
    src: url('/assets/essays1774/essays1743-bolditalic-webfont.eot');
    src: url('/assets/essays1774/essays1743-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/essays1774/essays1743-bolditalic-webfont.woff') format('woff'),
         url('/assets/essays1774/essays1743-bolditalic-webfont.ttf') format('truetype'),
         url('/assets/essays1774/essays1743-bolditalic-webfont.svg#/assets/essays1774/essays1743bolditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: '/assets/essays1774/essays1743medium' ;
  font-size: 30px;
  text-align: justify;
  margin-left: 250px;
  margin-right: 250px;
  line-height: 2.5em;
  background-color: rgb(251,251,251);
}

h1 {
    text-align: center;
}

h3 {
  margin-top: 0px;
}

a {
    color: black;
    text-decoration: none;
}

div#container {
  margin-top: 100px;
}

div#home {
    text-align: center;
}

p#links {
    text-align: center;
}

input#post_title {
    width: 700px;
    height: 50px;
    font-family: '/assets/essays1774/essays1743medium';
    font-size: 30px;
    outline: none;
    border: none;
    background-color: rgb(251,251,251);
}

textarea#post_text {
    width: 700px;
    height: 250px;
    font-family: '/assets/essays1774/essays1743medium';
    font-size: 30px;
    outline: none;
    border: none;
    overflow: hidden;
    resize: none;
    background-color: rgb(251,251,251);
}

div#user_nav {
  text-align: center;
  /*float: right;*/
  margin-right: -200px;
  /*margin-top: -50px;*/
}

#navigation {
  position: fixed;
  top: 0;
  width: 100%;
  color: #ffffff;
  height: 75px;
  text-align: center;
  /*padding-top: 15px;*/
  /* Adds shadow to the bottom of the bar */
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
  /* Adds the transparent background */
  background-color: rgba(1, 1, 1, 0.8);
  color: rgba(1, 1, 1, 0.8);
  left: 0px;
}
#navigation a {

  font-size: 30px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  text-decoration: none;
}

#navigation a:hover {
  color: grey;
} 

.submit {
  font-size: 60px;
  border: none;
  background-color: rgb(251,251,251);
  font-family: '/assets/essays1774/essays1743medium';
  margin-left: 205px;
  font-weight: bold;

}







